
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css";


body{
  background: linear-gradient(-45deg,#09d2f5,#d0aada,#be26c4);
}
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.692),rgba(0, 0, 0, 0.479)) ,
    url(/src/bgbg.jpg);
    height: 50vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
}
.banner-text{
    position: absolute;
    top: 50%; 
      left:50%;
     transform: translate(-50%,-50%);
     text-align: center;
}
.navbar-brand{
font-family: big john;
}
.nav-link{
    font-family: poppins;
    text-transform: uppercase;
}
.banner-text p{
    font-family: poppins;
    color:#ffffff;
}
.banner-btn a{
    border: 1px solid #ffffff;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration:none;
    padding: 10px 50px;
    display: inline-block;
    margin-top:15px ;
    color: #ffffff;
}
.banner-btn a.mydownload{
    /* background: #1a3bf7; */
    color:floralwhite;
}
.banner-btn a.playstore{
    background: #09d2f5;
    color:floralwhite;
}
.container_scro{
   max-height: 220;
    display: flex;
    margin-bottom: 35px;
     overflow-x: auto;
}
.container_scro::-webkit-scrollbar{
    width: 0;
}
.container_scro.card{
    min-width: 200;
    height: 200px;
    width: 200px;
    line-height: 200;
    text-align: center;
   display: flex; 
    background-color: #09d2f5;
}
.footer {
  position: fixed;
  left: 
  0;
  bottom: 0;
  width: 100%;  
  background-color: rgb(12, 88, 102);
  color: white;
  text-align: center;
}

.text-area{
font-size:50px;
font-family: roboto;
text-transform: uppercase;
font-weight: bold;
}
.text-area span{
    color:#09d2f5;
    opacity: 0;
    transform: translate(0,-100px)rotate(360deg)scale(0);
    animation: animate 5s forwards;
}
.text-area span{
    display: inline-block;
}
.text-area span:nth-of-type(2){
    animation-delay: 1s;
}
.text-area span:nth-of-type(2){
    animation-delay: 2s;
}
.text-area span:nth-of-type(3){
    animation-delay: 3s;
}
.text-area span:nth-of-type(4){
    animation-delay: 4s;
}
.text-area span:nth-of-type(5){
    animation-delay: 5s;
}
.text-area span:nth-of-type(6){
    animation-delay: 6s;
}
.text-area span:nth-of-type(7){
    animation-delay: 7s;
}
.text-area span:nth-of-type(8){
    animation-delay: 8s;
}
.text-area span:nth-of-type(9){
    animation-delay: 9s;
}
.text-area span:nth-of-type(10){
    animation-delay: 9s;
}
@keyframes animate{
    30%{
        transform: translate(0,-50px)rotate(180deg)scale(1);
    }
     60%{
        transform: translate(0,20px)rotate(0deg)scale(.8);
    }
     100%{
        transform: translate(0)rotate(0deg)scale(1);
        opacity: 1;
    }
}

    @media  (min-width: 320px) and (max-width:360px)
    {.text-area {font-size:18px} }

    @media (min-width:375px) and (max-width: 425.98px) {
           .text-area {font-size:28px}
        }
    @media (min-width: 768px) and (max-width: 991.98px) 
    {  .text-area {font-size:40px}}
    @media (min-width:1024px)and(max-width:1440px){
     .text-area {font-size:45px}}
     @media screen and(max-width:2560px){
          .text-area {font-size:80px}
     }
@include media-breakpoint-down(md) {
  .text-area {
    display: block;
  }
}